<footer>
  <!-- <div class="container">
    <div class="row"> -->

      <div class="social-icons d-block">

        <a href="" title="facebook" target="_blank">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a href="" title="instagram" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="" title="pinterest" target="_blank">
          <i class="fa fa-pinterest-square" aria-hidden="true"></i>
        </a>
        <a href="" title="linkedin" target="_blank">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>

      </div>

      <p>Handmade with
        <i class="fa fa-heart" aria-hidden="true"></i> by
        <a href="https://www.linkedin.com/in/abhishekfulzele">Abhishek D</a> | <i class="fa fa-copyright" aria-hidden="true"></i>
        <span id="auto-year"></span>
      </p>

    <!-- </div>
  </div> -->
</footer>
