<div class="container">
  <div class="row">

    <div class="col-12 mt-1 text-center page-title">
      {{singleFilmData['title']}}
      <!-- {{title}} -->
      <hr>
    </div>

    <div class="col-12 my-1 text-center">
      <strong>Released Date:</strong> {{singleFilmData['release_date'] | date:'longDate'}}
    </div>
    <div class="col-12 my-1 text-center">
      <strong>Director:</strong> {{singleFilmData['director']}}
    </div>
    <div class="col-12 my-1 text-center">
      <strong>Producer:</strong> {{singleFilmData['producer']}}
    </div>
    <div class="col-12 my-1 text-center">
      <strong>Description</strong>
      <br> {{singleFilmData['description']}}
    </div>
    <div class="col-12 my-1 text-center basic-sub-title">
      <h1>Characters</h1>
    </div>

    <div class="col-lg-4 col-sm-6 col-12 my-3 text-center" *ngFor="let item of singleFilmData['characters']">


      <div class="card mx-auto">

        <!-- <img class="card-img-top" src="../../assets/img/home-film.jpg" alt="Card image cap"> -->

        <div class="card-body">
          <h5 class="card-title">
            <strong>{{ item }}</strong>
          </h5>
          <!-- <p class="card-text"><strong>Released On:</strong> {{film.release_date | date:'longDate'}}</p>
          <p class="card-text"><strong>Episode Id:</strong> {{film.episode_id}}</p>
          <p class="card-text"><strong>Director:</strong> {{film.director}}</p>
          <p class="card-text"><strong>Description:</strong> {{film.opening_crawl}}</p> -->
        </div>

      </div>



    </div>

  </div>
</div>
