<header>
  <div class="header-box">
    <h1>STAR WARS APP</h1>
  </div>
</header>

<section class="api_call_section my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3>MORE</h3>
      </div>

      <div class="col-lg-4 col-sm-6 col-12 my-4">
        <div class="card mx-auto" style="width: 18rem;">

          <img class="card-img-top" src="../../assets/img/home-film.jpg" alt="Card image cap">

          <div class="card-body">
            <h5 class="card-title">Films</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a style="cursor:pointer" routerLink="/films" class="btn btn-warning">Know More!</a>
          </div>

        </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-12 my-4">
        <div class="card mx-auto" style="width: 18rem;">

          <img class="card-img-top" src="../../assets/img/home-people.jpg" alt="Card image cap">

          <div class="card-body">
            <h5 class="card-title">People</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a style="cursor:pointer" routerLink="/people" class="btn btn-warning">Know More!</a>
          </div>

        </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-12 my-4">
        <div class="card mx-auto" style="width: 18rem;">

          <img class="card-img-top" src="../../assets/img/home-planet.jpg" alt="Card image cap">

          <div class="card-body">
            <h5 class="card-title">Planets</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a style="cursor:pointer" routerLink="/planets" class="btn btn-warning">Know More!</a>
          </div>

        </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-12 my-4">
        <div class="card mx-auto" style="width: 18rem;">

          <img class="card-img-top" src="../../assets/img/home-species.jpg" alt="Card image cap">

          <div class="card-body">
            <h5 class="card-title">Species</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a style="cursor:pointer" routerLink="/species" class="btn btn-warning">Know More!</a>
          </div>

        </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-12 my-4">
        <div class="card mx-auto" style="width: 18rem;">

          <img class="card-img-top" src="../../assets/img/home-startship.jpg" alt="Card image cap">

          <div class="card-body">
            <h5 class="card-title">Starships</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a style="cursor:pointer" routerLink="/starships" class="btn btn-warning">Know More!</a>
          </div>

        </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-12 my-4">
        <div class="card mx-auto" style="width: 18rem;">

          <img class="card-img-top" src="../../assets/img/home-vehicle.jpg" alt="Card image cap">

          <div class="card-body">
            <h5 class="card-title">Vehicles</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a style="cursor:pointer" routerLink="/vehicles" class="btn btn-warning">Know More!</a>
          </div>

        </div>
      </div>


    </div>
  </div>
</section>
